/* Extra small devices (phones, 600px and down) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.container {
  width: 80%;
  margin: auto;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

h1 {
  font-family: "Ibarra Real Nova", sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.45px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.36px;
  }
}

h2 {
  font-family: "Ibarra Real Nova", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
}

h3 {
  font-family: "Ibarra Real Nova", sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.29px;
}

@media (max-width: 780px) {
  h3 {
    line-height: 42px;
  }
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0;
}

.menu-items {
  font-family: "Public Sans", sans-serif;
  letter-spacing: 2px;
  color: #33323D;
  text-transform: uppercase;
}

.menu-items:hover {
  color: #5FB4A2;
  -webkit-transition: .1s;
  transition: .1s;
}

p {
  color: #33323D;
}

.used_tech {
  color: #5FB4A2;
  font-weight: bold;
}

.footer-items {
  font-family: "Public Sans", sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer-items:hover {
  color: #5FB4A2;
  -webkit-transition: .1s;
  transition: .1s;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 48px;
  background-color: #203A4C;
  text-align: center;
  font: normal normal normal 12px/14px "Public Sans", sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #5FB4A2;
  -webkit-transition: .2s;
  transition: .2s;
}

.button .arrow-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 30%;
  position: relative;
}

.button .arrow-button-wrapper .arrow-button {
  position: absolute;
  border: solid;
  border-width: 0 1px 1px 0;
  border-color: #5FB4A2;
  opacity: .5;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.button .arrow-button-wrapper .arrow-button-top {
  opacity: .25;
  top: 8px;
}

.button .arrow-button-wrapper .arrow-button-mid {
  opacity: .5;
  top: 14px;
}

.button .arrow-button-wrapper .arrow-button-bot {
  opacity: 1;
  top: 21px;
}

.button p {
  margin-right: 2rem;
  text-align: center;
  font: normal normal normal 12px/14px "Public Sans", sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.arrow-button-wrapper::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: .1;
}

.button:hover .arrow-button {
  border-color: #FFFFFF;
  -webkit-transition: .2s;
  transition: .2s;
}

.button-secondary {
  width: 162px;
  height: 48px;
  border: 1px solid #33323D;
  font: normal normal normal 12px/14px "Public Sans", sans-serif;
  letter-spacing: 2px;
  padding: 0 1rem;
  color: #33323D;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button-secondary:hover {
  background: #33323D 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  -webkit-transition: .2s;
  transition: .2s;
}

.button-form {
  background-color: #203A4C;
  width: 200px;
  height: 48px;
  font: normal normal normal 12px/14px "Public Sans", sans-serif;
  border: 1px solid #203A4C;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFFFFF;
  cursor: pointer;
}

.button-form:hover {
  background-color: #FFFFFF;
  color: #203A4C;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid #203A4C;
}

label {
  letter-spacing: 0px;
  color: #33323D;
  font-weight: bold;
}

textarea {
  resize: none;
}

input,
textarea {
  outline: none;
  background-color: rgba(51, 50, 61, 0.1);
  border: 1px solid rgba(51, 50, 61, 0.1);
}

textarea:valid,
input:valid {
  border: 1px solid #5FB4A2;
}

.required {
  color: #F43030;
  font-size: 10px;
  visibility: visible;
}

input:invalid:focus,
textarea:invalid:focus {
  border: 1px solid #F43030;
}

input + p::before,
textarea + p::before {
  content: 'This field is valid';
  visibility: hidden;
}

input:invalid:focus + p::before,
textarea:invalid:focus + p::before {
  content: 'This field is required';
  visibility: visible;
  color: red;
}

.hero .hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10rem;
}

@media (max-width: 700px) {
  .hero .hero_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}

.hero .hero_figure_container {
  position: relative;
}

.hero figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero figure > img {
  max-width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .hero_text_container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 40vh;
  width: 45vw;
  background-color: #FAFAFA;
  bottom: 0;
  left: 10%;
}

@media (max-width: 992px) {
  .hero .hero_text_container {
    left: 8%;
  }
}

@media (max-width: 700px) {
  .hero .hero_text_container {
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    margin-top: 3rem;
    width: 80%;
    margin: auto;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
}

.hero .hero_text_container h1 {
  padding-right: 5rem;
}

@media (max-width: 992px) {
  .hero .hero_text_container h1 {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 700px) {
  .hero .hero_text_container h1 {
    padding: 0;
  }
}

.about_container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  .about_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about_container .about_picture > figure > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

@media (max-width: 992px) {
  .about_container .about_picture > figure > img {
    max-width: 40vw;
  }
}

@media (max-width: 700px) {
  .about_container .about_picture > figure > img {
    max-width: 80vw;
  }
}

.about_container .about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  margin-left: 5rem;
  margin-top: -5rem;
  padding: 4rem 2rem;
}

@media (max-width: 992px) {
  .about_container .about_content {
    padding: 4rem 0;
  }
}

@media (max-width: 700px) {
  .about_container .about_content {
    width: 50vw;
  }
}

.about_container .about_content h2 {
  padding: 3rem 0;
}

.about_container .about_content button {
  margin: 3rem 0;
}

.about_content::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #33323D;
  opacity: .15;
}

.about_content::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #33323D;
  opacity: .15;
}

.interested_container {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

@media (max-width: 700px) {
  .interested_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.interested_container span {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  margin: 0rem 3rem;
  background-color: #33323D;
  opacity: .15;
}

@media (max-width: 700px) {
  .interested_container span {
    display: none !important;
  }
}

@media (max-width: 700px) {
  .interested_container .button-secondary {
    margin-top: 5rem;
  }
}

.wrapper {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 700px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wrapper .picture > figure > img {
  max-width: 35vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 700px) {
  .wrapper .picture > figure > img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5rem;
    max-width: 60vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  margin-top: -5rem;
  padding: 2rem;
}

@media (max-width: 992px) {
  .wrapper .content {
    width: inherit;
  }
}

@media (max-width: 700px) {
  .wrapper .content h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 992px) {
  .wrapper .content .button-secondary {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.content::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #33323D;
  opacity: .15;
}

.content::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #33323D;
  opacity: .15;
}

.wrapper:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 700px) {
  .wrapper:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.interested_container {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

.interested_container span {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  margin: 0rem 3rem;
  background-color: #33323D;
  opacity: .15;
}

.manage_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manage_header img {
  max-width: 85%;
}

@media (max-width: 700px) {
  .manage_header img {
    max-width: 80vw;
  }
}

.manage_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  .manage_content_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.manage_content_container .manage_content {
  width: 40%;
  padding: 3rem 5rem;
  margin-top: 8rem;
}

@media (max-width: 992px) {
  .manage_content_container .manage_content {
    margin-top: 0;
    padding: 0 !important;
  }
}

@media (max-width: 700px) {
  .manage_content_container .manage_content {
    width: inherit;
  }
}

.manage_content_container .manage_content h2 {
  margin: 5rem 0 3rem 0;
}

.manage_content_container .manage_content p {
  margin-bottom: 1.5rem;
}

.manage_content_container .manage_content button {
  margin-bottom: 5rem;
}

.manage_content_container .content {
  padding: 3rem 5rem 2rem 8rem;
}

.manage_content_container .manage_content_desc {
  padding: 2rem 5rem 2rem 8rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .manage_content_container .manage_content_desc {
    margin-top: 0;
    margin-left: 2rem;
    padding: 0 !important;
  }
}

@media (max-width: 700px) {
  .manage_content_container .manage_content_desc {
    width: inherit;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

.manage_content_container .manage_content_desc h3 {
  margin: 4rem 0;
}

@media (max-width: 700px) {
  .manage_content_container .manage_content_desc h3 {
    text-align: left;
  }
}

.manage_content_container .manage_content_desc span {
  text-decoration: underline;
}

.manage_content_container .manage_content_desc img {
  margin-top: 1rem;
  max-width: 100%;
}

.bookmark_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bookmark_header img {
  max-width: 85%;
}

@media (max-width: 700px) {
  .bookmark_header img {
    max-width: 80vw;
  }
}

.bookmark_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  .bookmark_content_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bookmark_content_container .bookmark_content {
  width: 40%;
  padding: 3rem 5rem;
  margin-top: 8rem;
}

@media (max-width: 992px) {
  .bookmark_content_container .bookmark_content {
    margin-top: 0;
    padding: 0 !important;
  }
}

@media (max-width: 700px) {
  .bookmark_content_container .bookmark_content {
    width: inherit;
  }
}

.bookmark_content_container .bookmark_content h2 {
  margin: 5rem 0 3rem 0;
}

.bookmark_content_container .bookmark_content p {
  margin-bottom: 1.5rem;
}

.bookmark_content_container .bookmark_content button {
  margin-bottom: 5rem;
}

.bookmark_content_container .content {
  padding: 3rem 5rem 2rem 8rem;
}

.bookmark_content_container .bookmark_content_desc {
  padding: 2rem 5rem 2rem 8rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .bookmark_content_container .bookmark_content_desc {
    margin-top: 0;
    margin-left: 2rem;
    padding: 0 !important;
  }
}

@media (max-width: 700px) {
  .bookmark_content_container .bookmark_content_desc {
    width: inherit;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

.bookmark_content_container .bookmark_content_desc h3 {
  margin: 4rem 0;
}

@media (max-width: 700px) {
  .bookmark_content_container .bookmark_content_desc h3 {
    text-align: left;
  }
}

.bookmark_content_container .bookmark_content_desc span {
  text-decoration: underline;
}

.bookmark_content_container .bookmark_content_desc img {
  margin-top: 1rem;
  max-width: 100%;
}

.insure_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.insure_header img {
  max-width: 85%;
}

@media (max-width: 700px) {
  .insure_header img {
    max-width: 80vw;
  }
}

.insure_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  .insure_content_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.insure_content_container .insure_content {
  width: 40%;
  padding: 3rem 5rem;
  margin-top: 8rem;
}

@media (max-width: 992px) {
  .insure_content_container .insure_content {
    margin-top: 0;
    padding: 0 !important;
  }
}

@media (max-width: 700px) {
  .insure_content_container .insure_content {
    width: inherit;
  }
}

.insure_content_container .insure_content h2 {
  margin: 5rem 0 3rem 0;
}

.insure_content_container .insure_content p {
  margin-bottom: 1.5rem;
}

.insure_content_container .insure_content button {
  margin-bottom: 5rem;
}

.insure_content_container .content {
  padding: 3rem 5rem 2rem 8rem;
}

.insure_content_container .insure_content_desc {
  padding: 2rem 5rem 2rem 8rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .insure_content_container .insure_content_desc {
    margin-top: 0;
    margin-left: 2rem;
    padding: 0 !important;
  }
}

@media (max-width: 700px) {
  .insure_content_container .insure_content_desc {
    width: inherit;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

.insure_content_container .insure_content_desc h3 {
  margin: 4rem 0;
}

@media (max-width: 700px) {
  .insure_content_container .insure_content_desc h3 {
    text-align: left;
  }
}

.insure_content_container .insure_content_desc span {
  text-decoration: underline;
}

.insure_content_container .insure_content_desc img {
  margin-top: 1rem;
  max-width: 100%;
}

.fylo_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fylo_header img {
  max-width: 85%;
}

@media (max-width: 700px) {
  .fylo_header img {
    max-width: 80vw;
  }
}

.fylo_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  .fylo_content_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fylo_content_container .fylo_content {
  width: 40%;
  padding: 3rem 5rem;
  margin-top: 8rem;
}

@media (max-width: 992px) {
  .fylo_content_container .fylo_content {
    margin-top: 0;
    padding: 0 !important;
  }
}

@media (max-width: 700px) {
  .fylo_content_container .fylo_content {
    width: inherit;
  }
}

.fylo_content_container .fylo_content h2 {
  margin: 5rem 0 3rem 0;
}

.fylo_content_container .fylo_content p {
  margin-bottom: 1.5rem;
}

.fylo_content_container .fylo_content button {
  margin-bottom: 5rem;
}

.fylo_content_container .content {
  padding: 3rem 5rem 2rem 8rem;
}

.fylo_content_container .fylo_content_desc {
  padding: 2rem 5rem 2rem 8rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .fylo_content_container .fylo_content_desc {
    margin-top: 0;
    margin-left: 2rem;
    padding: 0 !important;
  }
}

@media (max-width: 700px) {
  .fylo_content_container .fylo_content_desc {
    width: inherit;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

.fylo_content_container .fylo_content_desc h3 {
  margin: 4rem 0;
}

@media (max-width: 700px) {
  .fylo_content_container .fylo_content_desc h3 {
    text-align: left;
  }
}

.fylo_content_container .fylo_content_desc span {
  text-decoration: underline;
}

.fylo_content_container .fylo_content_desc img {
  margin-top: 1rem;
  max-width: 100%;
}

.contact_content_container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  padding: 3rem 0rem;
}

@media (max-width: 780px) {
  .contact_content_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact_content_container h2 {
  padding: 2rem 0rem;
}

.contact_content_container .contact_content_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

@media (max-width: 780px) {
  .contact_content_container .contact_content_desc {
    width: inherit;
  }
}

.contact_content_container .contact_content_desc p {
  padding: 2rem 1rem;
}

@media (max-width: 780px) {
  .contact_content_container .contact_content_desc p {
    padding: 2rem 0;
  }
}

.contact_content_container .contact_content_desc .social_wrapper {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem .5rem;
}

@media (max-width: 780px) {
  .contact_content_container .contact_content_desc .social_wrapper {
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .contact_content_container .contact_content_desc .social_wrapper {
    width: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact_content_container .contact_content_desc .social_wrapper a {
  height: 2rem;
  width: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
}

.contact_content_container .contact_content_desc .social_wrapper a:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transition: .2s;
  transition: .2s;
}

.contact_me_container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 8rem;
}

@media (max-width: 780px) {
  .contact_me_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact_me_container .contact_form_wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 780px) {
  .contact_me_container .contact_form_wrapper {
    margin-top: 3rem;
    width: inherit;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.contact_me_container .contact_form_wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_me_container .contact_form_wrapper form label {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 780px) {
  .contact_me_container .contact_form_wrapper form label {
    width: 70vw;
  }
}

.contact_me_container .contact_form_wrapper form .input {
  height: 8vh;
  padding: 1rem;
}

.contact_me_container .contact_form_wrapper form .textarea {
  height: 20vh;
}

.contact_me_container .contact_form_wrapper form button {
  margin-top: 3rem;
}

nav {
  position: relative;
  width: 100%;
  height: 9.3rem;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-logo {
  height: 2rem;
  width: 3.75rem;
  background-image: url(/ressources/img/Home/Combined-Shape.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

nav .main-nav__toggler {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
  padding: 0;
  border: 0;
  background-color: transparent;
}

nav .menu-list {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.active {
  color: #5FB4A2;
}

@media (max-width: 992px) {
  .menu-list {
    width: 50% !important;
    z-index: 1;
  }
  .menu-items {
    margin: 0 1rem;
  }
}

@media (max-width: 780px) {
  .menu-list {
    position: absolute;
    top: calc(100% + 3.6rem);
    right: 0;
    display: block;
    width: 60% !important;
    padding: 4rem;
    background-color: #33323D;
    color: white;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-items {
    color: white;
  }
  .menu-items:hover {
    background-color: #5FB4A2;
  }
  .menu-items > a {
    display: block;
    padding: 1.6rem 2rem;
    color: currentColor;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .menu-items > a:hover {
    color: white;
  }
  .main-nav__bar {
    width: 2.5rem;
    height: 0.2rem;
    background-color: #33323D;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .main-nav__toggler[aria-expanded="true"] .main-nav__bar:first-child {
    -webkit-transform: rotate(38deg);
            transform: rotate(38deg);
  }
  .main-nav__toggler[aria-expanded="true"] .main-nav__bar:not(:first-child):not(:last-child) {
    opacity: 0;
  }
  .main-nav__toggler[aria-expanded="true"] .main-nav__bar:last-child {
    -webkit-transform: rotate(-38deg);
            transform: rotate(-38deg);
  }
  .main-nav__bar:first-child {
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
  .main-nav__bar:last-child {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
  .main-nav__toggler[aria-expanded="true"] + .menu-list {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 400px) {
  .menu-list {
    text-align: center;
    width: 100% !important;
  }
}

.navigation_projects_container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

@media (max-width: 700px) {
  .navigation_projects_container {
    width: inherit;
  }
}

.navigation_projects_container .arrow_wrapper {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-height: 100%;
}

@media (max-width: 700px) {
  .navigation_projects_container .arrow_wrapper {
    width: inherit;
    padding: 1rem;
  }
}

.navigation_projects_container .arrow_wrapper p {
  opacity: .5;
}

.navigation_projects_container .arrow_wrapper img {
  margin: 0 1rem;
  height: 2rem;
  width: 2rem;
  opacity: .7;
  padding: .3rem;
  cursor: pointer;
}

@media (max-width: 700px) {
  .navigation_projects_container .arrow_wrapper a {
    margin-bottom: 5rem;
  }
}

@media (max-width: 400px) {
  .navigation_projects_container .previous_wrapper {
    margin-left: -2rem;
  }
}

.navigation_projects_container .next_wrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-left: 1px solid rgba(51, 50, 61, 0.15);
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #33323D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  footer {
    padding: 3rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

footer .footer-left-container {
  margin-left: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  footer .footer-left-container {
    width: 60%;
    margin-left: 1rem;
  }
}

@media (max-width: 700px) {
  footer .footer-left-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-left-container .footer-logo {
  height: 2rem;
  width: 3.75rem;
  background-image: url(/ressources/img/Home/Combined-Shape2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  footer .footer-left-container .footer-logo {
    margin-bottom: 2rem;
  }
}

footer .footer-left-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-left-container li {
  padding: .5rem .5rem;
}

footer .footer-social {
  margin-right: 10rem;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  footer .footer-social {
    margin-right: 5rem;
    width: 15%;
  }
}

@media (max-width: 992px) {
  footer .footer-social {
    margin-right: 1rem;
    width: 25%;
  }
}

footer .footer-social .footer-social-item {
  height: 2rem;
  width: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

footer .footer-social .footer-social-item:hover {
  -webkit-transform: scale(1.1) rotate(5deg);
          transform: scale(1.1) rotate(5deg);
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 700px) {
  footer .footer-social .footer-social-item {
    margin: 2rem .5rem;
  }
}

.git {
  background-image: url(/ressources/img/Home/Path.svg);
}

.twitter {
  background-image: url(/ressources/img/Home/Path-1.svg);
}

.linkedin {
  background-image: url(/ressources/img/Home/Shape.svg);
}
/*# sourceMappingURL=main.css.map */