// main section
.contact_content_container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgba(51, 50, 61, .15);
    border-bottom: 1px solid rgba(51, 50, 61, .15);
    padding: 3rem 0rem;
    @media (max-width: $tablet) {
        flex-direction: column;
    }
    h2 {
        padding: 2rem 0rem;
    }
    .contact_content_desc {
        display: flex;
        flex-direction: column;
        width: 50%;
        @media (max-width: $tablet) {
            width: inherit;
        }
        p {
            padding: 2rem 1rem;
            @media (max-width: $tablet) {
                padding: 2rem 0;
            }
        }
        .social_wrapper {
            width: 40%;
            display: flex;
            justify-content: space-evenly;
            padding: 1rem .5rem;
            @media (max-width: $tablet) {
                width: 50%;
                justify-content: space-between;
            }
            @media (max-width: $mobile) {
                width: 70%;
                justify-content: space-between;
            }
            a {
                height: 2rem;
                width: 2rem;
                background-size: contain;
                background-repeat: no-repeat;
                filter: brightness(.2);
                &:hover {
                    filter: invert(100%);
                    transition: .2s;
                }
            }
        }
    }
}

// form section
.contact_me_container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8rem;
    @media (max-width: $tablet) {
        flex-direction: column;
    }
    .contact_form_wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        @media (max-width: $tablet) {
            margin-top: 3rem;
            width: inherit;
            justify-content: start;
        }
        form {
            display: flex;
            flex-direction: column;
            label {
                width: 35vw;
                display: flex;
                flex-direction: column;
                @media (max-width: $tablet) {
                    width: 70vw;
                }
            }
            .input {
                height: 8vh;
                padding: 1rem;
            }
            .textarea {
                height: 20vh;
            }
            button {
                margin-top: 3rem;
            }
        }
    }
}