.manage_header {
    display: flex;
    justify-content: center;
    img {
        max-width: 85%;
        @media (max-width: $mobile) {
            max-width: 80vw;
        }
    }
}

.manage_content_container {
    display: flex;
    @media (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
    }
    .manage_content {
        width: 40%;
        padding: 3rem 5rem;
        margin-top: 8rem;
        @media (max-width: $laptop) {
            margin-top: 0;
            padding: 0!important;
        }
        @media (max-width: $mobile) {
            width: inherit;
        }
        h2 {
            margin: 5rem 0 3rem 0;
        }
        p {
            margin-bottom: 1.5rem;
        }
        button {
            margin-bottom: 5rem;
        }
    }
    .content {
        padding: 3rem 5rem 2rem 8rem;
    }
    .manage_content_desc {
        padding: 2rem 5rem 2rem 8rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        @media (max-width: $laptop) {
            margin-top: 0;
            margin-left: 2rem;
            padding: 0!important;
        }
        @media (max-width: $mobile) {
            width: inherit;
            align-items: left;
        }
        h3 {
            margin: 4rem 0;
            @media (max-width: $mobile) {
                text-align: left;
            }
        }
        span {
            text-decoration: underline;
        }
        img {
            margin-top: 1rem;
            max-width: 100%;
        }
    }
}