// generic style
.navigation_projects_container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(51, 50, 61, .15);
    border-bottom: 1px solid rgba(51, 50, 61, .15);
    .arrow_wrapper {
        padding: 2rem;
        display: flex;
        align-items: center;
        width: 50%;
        min-height: 100%;
        p {
            opacity: .5;
        }
        img {
            margin: 0 1rem;
            height: 2rem;
            width: 2rem;
            opacity: .7;
            padding: .3rem;
            cursor: pointer;
        }
    }
    .next_wrapper {
        justify-content: flex-end;
        border-left: 1px solid rgba(51, 50, 61, .15);
    }
}