// form style
label {
    letter-spacing: 0px;
    color: $dark-blue;
    font-weight: bold;
}

textarea {
    resize: none;
}

input,
textarea {
    outline: none;
    background-color: rgba($dark-blue, 0.1);
    border: 1px solid rgba(51, 50, 61, 0.1);
}

textarea:valid,
input:valid {
    border: 1px solid $cyan;
}

.required {
    color: $red;
    font-size: 10px;
    visibility: visible;
}

input:invalid:focus,
textarea:invalid:focus {
    border: 1px solid $red;
}

// here for don't change the label's gap between invalid and valid 
input+p::before,
textarea+p::before {
    content: 'This field is valid';
    visibility: hidden;
}

input:invalid:focus+p::before,
textarea:invalid:focus+p::before {
    content: 'This field is required';
    visibility: visible;
    color: red;
}

// <form action="https://formspree.io/f/xqkweqgz" method="POST">
// <label>
//   Name
//   <input class="input" type="text" name="name" placeholder="Jane Appleseed" required>
// <p class="required"></p>
// </label>
// <label>
// Email Address
// <input class="input" type="email" name="mail" placeholder="email@example.com" required>
// <p class="required"></p>
// </label>
// <label>
// Message
// <textarea class="input" type="text" maxlength="150" minlength="1" name="message" placeholder="How can I help?" required ></textarea>
// <p class="required"></p>
// </label>
// <button class="button-form" type="submit">Send message</button>
// </form>