// Titles styles & body
h1 {
    font-family: $ibarra;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.45px;
}

h2 {
    font-family: $ibarra;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.36px;
}

h3 {
    font-family: $ibarra;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.29px;
}

body {
    font-family: $public;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
}

// navbar-text
.menu-items {
    font-family: $public;
    letter-spacing: 2px;
    color: $dark-blue;
    text-transform: uppercase;
    &:hover {
        color: $cyan;
        transition: .1s;
    }
}

// footer-text 
.footer-items {
    font-family: $public;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    &:hover {
        color: $cyan;
        transition: .1s;
    }
}