// Colors 
$cyan: #5FB4A2;
$blue:#203A4C;
$dark-blue: #33323D;
$very-light-grey: #FAFAFA;
$light-grey: #EAEAEB;
$red: #F43030;
// Responsive breakpoints 
$mobile: 700px;
$tablet: 780px;
$laptop: 992px;
$desktop: 1200px;
// fonts 
$ibarra: 'Ibarra Real Nova',
sans-serif;
$public: 'Public Sans',
sans-serif;